.list {
    display: flex;
    list-style: none;
  }
  
  .listItem:not(:last-child) {
    margin-right: 20px;
  }
  
  .link {
    color: cornflowerblue;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .activeLink {
    color: red;
  }